<!DOCTYPE html>
<html>
	<head>
		<title>Download Flaptus</title>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<meta name="author" content="CodingCactus" >
		<meta name="theme-color" content="#18FA11">
		<meta property="og:title" content="Download Flaptus" />
		<meta property="og:type" content="website" />
		<meta property="og:description" content="Download versions of Flaptus"/>
		<meta property="og:image" content="/favicon.ico" />

		<link href="/css/style.css" rel="stylesheet" type="text/css" />

	</head>
	<body>
		
		<%= yield %>

	</body>
</html>